/* Reset and base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:root {
  --color-light: #fff;
  --color-dark: #1c1415;
  /* CONTAINER */
  --container-width-sm: 95%;
  --container-width-md: 90%;
  --container-width-xl: 80%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--color-dark);
}

button {
  cursor: pointer;
  display: inline-block;
  border: none;
  font: inherit;
}

#root {
  padding: 20px 0;
}

.container {
  width: var(--container-width-sm);
  max-width: 1440px;
  margin: 0px auto;
}

@media screen and (min-width: 410px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (min-width: 750px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (min-width: 990px) {
  .container {
    width: var(--container-width-xl);
  }
}

.logo {
  height: 51px;
  width: 123px;
}

header .container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 40px;
  font-weight: 700;
  font-size: large;
}

.signup-btn {
  padding: 18px 45px 18px 45px;
  background-color: var(--color-dark);
  border-radius: 50px;
  color: var(--color-light);
}

.product-bg-container {
  padding: 20px 0;
}

.product-bg-container h2 {
  font-family: "Sofia Sans";
  font-size: 2rem;
  color: var(--color-light);
}

.product-bg-container h3 {
  font-size: 1.5rem;
  color: var(--color-light);
}

.product-bg-container p {
  font-size: 1rem;
  color: var(--color-dark);
}

.product-bg-container .price {
  font-size: 2rem;
  color: var(--color-light);
}

@media screen and (min-width: 410px) {
  .product-bg-container {
    display: flex;
    gap: 16px;
  }

  .product-details-container {
    margin-top: 50px;
    max-width: 70%;
    margin-right: 20px; /* Add a margin to create a gap */
    margin-bottom: 20px;
  }

  .product-bg-container h2 {
    font-size: 3rem;
  }

  .product-bg-container h3 {
    font-size: 2rem;
  }

  .product-bg-container p {
    font-size: 1.2rem;
  }

  .product-bg-container .price {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 750px) {
  .product-bg-container {
    display: flex;
    gap: 16px;
  }

  .product-details-container {
    margin-top: 100px;
    max-width: 60%;
    margin-right: 20px; /* Add a margin to create a gap */
    margin-bottom: 20px;
  }

  .product-bg-container h2 {
    font-size: 70px;
  }

  .product-bg-container h3 {
    font-size: 40px;
  }

  .product-bg-container p {
    font-size: 24px;
  }

  .product-bg-container .price {
    font-size: 10px;
  }
}

@media screen and (min-width: 990px) {
  .product-bg-container {
    display: flex;
    gap: 12px;
  }

  .product-details-container {
    max-width: 60%;
  }

  .product-bg-container h2 {
    font-size: 76px;
  }

  .product-bg-container h3 {
    font-size: 52px;
  }

  .product-bg-container p {
    font-size: 24px;
  }

  .product-bg-container .price {
    font-size: 30px;
  }
}

.social-icons-container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 40px;
}

.social-icon {
  background-color: transparent;
  border: 1px solid var(--color-light);
  border-radius: 50%;
  font-size: 27px;
  height: 60px;
  width: 60px;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.splide-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to flex-start to position it slightly down */
}

#splide {
  width: 80%;
}

.splide__li {
  display: flex;
  justify-content: center;
}

.splide-img {
  margin-top: 45px;
  width: 80%;
  max-width: 350px;
  max-height: 450px;
}

#splidePrevBtn,
#splideNextBtn {
  background-color: transparent;
  border: 2px solid var(--color-light);
  color: var(--color-light);
  border-radius: 50%;
  padding: 5px;
}

@media screen and (min-width: 410px) {
  .splide-container {
    max-width: 70%;
  }

  #splide {
    width: 100%;
  }

  .splide-img {
    width: 60%;
  }
}

@media screen and (min-width: 750px) {
  .splide-container {
    max-width: 30%;
  }

  #splide {
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .splide-container {
    max-width: 40%;
  }
}




